<div class="information education">
  <h2 class="title">Education</h2>

  <div class="box">
    <div class="year_entity">
      <h5 class="year">2023 - Present</h5>
      <h5>University of Tübingen</h5>
      <h5>Germany</h5>
    </div>
    <div class="text">
      <h4>PhD in Computational Linguistics</h4>
      <p></p>
    </div>
  </div>

  <div class="box">
    <div class="year_entity">
      <h5 class="year">2023</h5>
      <h5>University of Tübingen</h5>
      <h5>Germany</h5>
    </div>
    <div class="text">
      <h4>M.A. in Computational Linguistics</h4>
      <p></p>
    </div>
  </div>

  <div class="box">
    <div class="year_entity">
      <h5 class="year">2017</h5>
      <h5>Mangalore University</h5>
      <h5>India</h5>
    </div>
    <div class="text">
      <h4>M.A. in English Language</h4>
    </div>
  </div>

  <div class="box">
    <div class="year_entity">
      <h5 class="year">2011</h5>
      <h5>University of Aleppo</h5>
      <h5>Syria</h5>
    </div>
    <div class="text">
      <h4>B.A. in English Language and Literature</h4>
    </div>
  </div>
</div>
<script>
  $(".box").each(function (index) {
    let s = 0.4;
    wait = s * (1 + index) + "s";

    $(this).css("animation-delay", wait);
    $(this).addClass("animated fadeInUp");
  });

</script>
