<div class="information experience">
  <h2 class="title">Experience</h2>
  <div class="box">
    <div class="year_entity">
      <h5 class="year">Feb 2022 - June 2023</h5>
      <h5>LEAD Graduate School & Research Network</h5>
      <h5>Germany</h5>
    </div>
    <div class="text">
      <h4>Student Assistant (studentische Hilfskraft)</h4>
      <p>
        My job includes current C-Test Editor backend improvement (NLP, JAVA,
        GWT, MAVEN, Python API). C-Test is a type of gapping quiz that tests language learning and performance.
      </p>
      <p>
        My job also includes creating a language testing platform (NLP, Python, html, css, javascript, flask)
      </p>
      <p>
        Concept:
        <a href="files/Exercises_progress.pdf" target="_blank">Link</a>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
      </p>
      <p>
        Live version:
        <a href="https://www.dltpt-platform.uni-tuebingen.de/" target="_blank">Link</a>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
      </p>
      <p>
        Features:
        <a href="https://mourhafkz.github.io/onepager" target="_blank">Link</a></a>
      </p>
    </div>
  </div>

  <div class="box">
    <div class="year_entity">
      <h5 class="year">2013 - 2015</h5>
      <h5>University of Alppo</h5>
      <h5>Syria</h5>
    </div>
    <div class="text">
      <h4>Graduate Teaching Assistant</h4>
      <p>
        I taught English as a foreign language and English for special
        purposes to undergraduates in the departments of French, Archaeology, and Law.
      </p>
    </div>
  </div>
</div>
<script>
  $('.box').each(function (index) {
    let s = 0.4
    wait = s * (1 + index) + 's'

    $(this).css('animation-delay', wait);
    $(this).addClass("animated fadeInUp");
  });;


</script>

