<div class="information">
  <h2 class="title">About Me</h2>
  <p class="content">
    My name is Mourhaf. I am a Syrian living in Germany. I am an
    enthusiastic learner and I enjoy politics, judo, languages, and programming. Not
    necessarily in that order. 

  <p class="content">
    My current educational technology research focuses on <a href="https://www.dltpt-platform.uni-tuebingen.de/"
      target="_blank">DLTPT</a>. A platform that supports teachers of language in teaching
    and assessment, before, during, and post- the process.
  </p>

  <p class="content">
    In political research, I focus on the image of the self and the other in politics in, but not limited to,
    the Middle East conflict. See one of my papers <a href="https://www.degruyterbrill.com/document/doi/10.1515/opli-2020-0032/html"
      target="_blank">Here</a>.
  </p>

  <p class="content">
    Meine Deutschkenntnisse verbessere ich derzeit durch Deutschkurse sowie durch das Erstellen von Videoerklärungen auf YouTube, TikTok und Instagram. 
    See my <a href="flashcards.html" target="_blank">flashcards</a> and my social media for the videos<a href="https://www.google.com/search?q=%40mourhafkz" target="_blank">@mourhafkz</a>
  </p>


  <h2 class="title">Personal Contact:</h2>
  <ul>
    <li>
      <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      <span class="text">mourhafkazzaz(at)gmail(dot)com</span>
    </li>
    <li>
      <span class="icon"><a href="https://www.instagram.com/mourhafkazzaz/" target="_blank"><i class="fa fa-instagram"
            aria-hidden="true"></i></a></span>
      <span class="icon"><a href="https://www.facebook.com/mourhafkazzaz/" target="_blank"><i
            class="fa fa-facebook-square" aria-hidden="true"></i></a></span>
      <span class="icon"><a href="https://www.linkedin.com/in/mourhafkazzaz/" target="_blank"><i
            class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
      <span class="icon"><a href="https://github.com/mourhafkz" target="_blank"><i class="fa fa-github"
            aria-hidden="true"></i></a></span>
    </li>
  </ul>
</div>
<script>
  $(".icon").each(function (index) {
    let s = 0.4;
    wait = s * (1 + index) + "s";
    $(this).css("animation-delay", wait);
    $(this).addClass("animated flipInX");
  });

  $(".text").each(function (index) {
    let s = 0.4;
    wait = s * (1 + index) + "s";
    $(this).css("animation-delay", wait);
    $(this).addClass("animated jackInTheBox");
  });

</script>

