  <div class="information projects">
          <h2 class="title">Projects</h2>



          <div class="box">
            <div class="year_entity">
              <h5 class="year">August 2023</h5>
            </div>
            <div class="text">
              <h4>42 Heilbronn Piscine</h4>
              <p>
                I passed the piscine phase of the 42 Heilbronn coding camp. I expect to join the full program soon. 
              </p>
              <p>
                This is a peer-review assignment submission camp. I learned and worked with C. The full program is about C++.
              </p>
            </div>
          </div>
    
          <div class="box">
            <div class="year_entity">
              <h5 class="year">March 2022</h5>
            </div>
            <div class="text">
              <h4>Speech Classification Term Paper</h4>
              <p>
                This is a term paper for a statistical machine learning course.
              </p>
              <p>
                In this paper I extract MFCC features from spoken recordings of
                non native speakers of English. I, then, employ LSTM and CNN to
                classify these recordings.
              </p>
              <p>Technology used: (Python, Tensorflow)</p>
            </div>
          </div>

          <div class="box">
            <div class="year_entity">
              <h5 class="year">December 2021</h5>
            </div>
            <div class="text">
              <h4>Learn with youtube tool</h4>
              <p>
                This is a tool that extracts video subtitles from Youtube based
                on user selection. It classifies the videos using a number of
                complexity measures applied on the subtitles.
              </p>
              <p>
                It then provides the sorted list of videos and allows them to go
                through the video line by line with repition
              </p>
              <p>
                Technology used: (NLP, Python, Javascript, Flask, Jquery, CSS,
                HTML)
              </p>
              <p>
                Link:
                <a href="https://mourhafkz.github.io/files/youtubeTool.pdf"  target="_blank">Demo</a>
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a
                >
              </p>
            </div>
          </div>

          <div class="box">
            <div class="year_entity">
              <h5 class="year">April 2021</h5>
            </div>
            <div class="text">
              <h4>PAN shared task 2021</h4>
              <p>
                This shared task title is Profiling Hate Speech Spreaders on
                Twitter 2021. I participated with two classmates
                extracurricularly in this task.
              </p>
              <p>We built an SVM classifier with TFIDF and ngrams.</p>
              <p>Technology used: (Python, Tensorflow, Scikitlearn)</p>
              <p>
                Link:
                <a href="https://pan.webis.de/clef21/pan21-web/author-profiling.html"  target="_blank">Task webpage and results</a>
                  </a>
              </p>
            </div>
          </div>

          <div class="box">
            <div class="year_entity">
              <h5 class="year">January 2017</h5>
            </div>
            <div class="text">
              <h4>SemiAutomatic POS tagger</h4>
              <p>
                This is a rule-based part of speech tagger I built from scratch
                using regular expressions. PHP is not particularly equipped for
                natural language processing but at the time I only knew PHP and
                Delphi.
              </p>
              <p>Technology used: (PHP, MySQL, HTML, CSS, JQuery)</p>
              <p>
                Link:
                <a href="https://www.youtube.com/watch?v=z9Jo9vi1MuE"  target="_blank">Demo</a>
                  </a>
              </p>
            </div>
          </div>
        </div>
        <script>
          $('.box').each(function(index){                    
              let s = 0.4
              wait = s*(1+index) + 's'
            
            $(this).css('animation-delay' , wait);
            $(this).addClass("animated fadeInUp");  
          });;
       
</script>

